.Masjid-component {
  color: #eaeaea;
  text-align: center;
  background-color: #605b56f0;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  .mosque_jumua {
    font-size: 16px;
  }
  .mosque_name {
    padding-top: 20px;
    font-size: 22px;
  }
  .mosque_img {
    width: 85%;
    height: 60%;
    border-radius: 9px;
  }
  .mosque_adress {
    font-size: 11px;
  }
  .mosque_times_list,
  .mosque_disposition {
    display: flex;
    text-decoration-line: none;
    list-style-type: none;
    padding: 5px;
    justify-content: space-around;
    font-size: 14px;
  }
  .source-of-data{
      padding-bottom: 10px;
      text-decoration: none;

  }
  .ablution,
  .women,
  .handicap,
  .parking{
      font-size: 30px;
  }

  .yes{
      color: #35e335;
  }
  .no{
      color: #ff4242;
  }
}
