@media  (max-width: 470px) {
    .NavBar__nav{
        display: flex;
    }

    .NavBar__nav__i--button-burger{
        display: block;
        color : black;
    }
}

.NavBar__nav__i--button-burger{
    display: none;
}