@media (max-width: 470px) {
  .NavBar__nav {
    display: flex;
    justify-content: space-between;
    background-color: #605B56;
    width : 100%;
    height : 40px;
    .NavBar__nav__span--site-name{
      font-size: 19px;
      font-weight: bold;
    }
  }

  .NavBar__nav__button--button-burger{
    display: block;
    margin: 0px 0px 0px 91%;
    position: fixed;
  }

  .NavBar__nav__button__i--button-burger {
    color: #605B56;
    font-size: 21px;
    
  }

  .openNavigation {
    display: block;
  }

  .closeNavigation {
    display: none;
  }
}
