@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body{
  background : radial-gradient(73.42% 76.28% at 17.82% 26.58%, rgba(25, 12, 176, 0.17) 31.77%, rgba(0, 0, 0, 0) 100%), conic-gradient(from 180deg at 50% 50%, rgba(0, 0, 0, 0) 0deg, #4EA241 131.25deg, rgba(0, 0, 0, 0) 360deg), radial-gradient(50% 50% at 50% 50%, rgba(63, 169, 150, 0.2) 40.62%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(241, 241, 241, 0.2) 0%, rgba(86, 167, 192, 0.2) 71.35%, rgba(0, 0, 0, 0) 100%), #496F5D;
  background-attachment: fixed;
  color : #EAEAEA;
  font-family: 'Nunito', sans-serif;}