.Pannel__div--container-times-today {
  width: 85%;
  color: white;
  background-color: #605b56;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  font-size: 12px;

  .Pannel__div--container-times-today__div--title-container-angle-select {
    .Pannel__div--container-times-today__div--title__h2 {
      padding-bottom: 3%;
      margin-top: 3px;
      font-size: 14px;
    }
    .Pannel__div--container-times-today__div__div--container-angle-select {
      margin-top: 10%;
      margin-bottom: -3%;

      .Pannel__div--container-times-today__div__div--container-angle-select__div--span-select {
        position: relative;
        margin-top: -13%;
        margin-left: 75%;
        display: flex;
        margin-bottom: 2%;

        .select-degree {
          width: 12px;
          margin-bottom: 0;
          height: 12px;
        }
      }
    }
  }

  .Pannel__ul--hour-date-countdown {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 2%;
    .Pannel__ul--hour-date-countdown__li--date {
      font-size: 10px;
    }
    .DateNow {
      font-size: 15px;
    }

    .Pannel__ul--hour-date-countdown__li--countdown-current-times {
      font-size: 17px;
    }
    .Pannel__ul--hour-date-countdown__li--countdown-next-times {
      color: #bc4749;
      font-size: 14px;
    }
  }
}
