.countDowntThirtyMinutes{
  color :#EE9292;
  font-size: 14px;
}
.Pannel__container-select-degree{
  text-align: end;
  margin-top: -4%;
  select {
  /* Reset Select */
  color : #ACC18A;
  font-size: 10px;
  text-align : end;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
}

.Pannel__div--container-times-today {
  width: 85%;
  background-color: #605b56;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  font-size: 12px;

  .localisation-marker-pannel{
    color : #ACC18A;
  }
  .Pannel__div--container-times-today__div--title-container-angle-select {
    .Pannel__div--container-times-today__div--title__h2 {
      font-size: 14px;
    }

    .Pannel__div--container-times-today__div__div--container-angle-select__div--span-select {
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-top: -6%;
      margin-right: 2%;
      .select-degree {
        width: 20px;
        height: 20px;
      }
    }
  }

  .Pannel__ul--hour-date-countdown {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 2%;
    .Pannel__ul--hour-date-countdown__li--date {
      font-size: 10px;
    }
    .DateNow {
      font-size: 15px;
    }

    .Pannel__ul--hour-date-countdown__li--countdown-current-times {
      font-size: 17px;
      color: #65D977;
    }
    .Pannel__ul--hour-date-countdown__li--countdown-next-times {
      color: #92BFEE;
      font-size: 14px;
    }
  }
}
