.SearchBar__form{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 50%;

  .SearchBar__form__div--find-city-container{
    display: flex;
    justify-content: center;

    .SearchBar__form__div--find-city-container__input--city{
      width: 100%;
    }
  }
}
// efect //@at-root
.isClose{
  display : none;
}
.isOpen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.cross{
  position: absolute;
  margin-top: -19px;
  margin-left: 61%;

}
