.SearchBar__form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 29px;
  height: 80px;

  .SearchBar__form__div--container-parametter-degree {
    display: flex;
    justify-content: end;
    margin: 1% 3% 0 0;
  }
  .SearchBar__form__div--container-inputCountry-inputCity-localisationButton {
    display: flex;
    justify-content: center;

    .country,
    .city {
      width: 30%;
    }
  }
  .SearchBar__form__button--search {
    width: 20%;
    margin: auto;
  }
}
