.SearchBar__form {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  .SearchBar__form__div--find-city-container {
    display: flex;
    justify-content: center;

    .SearchBar__form__div--find-city-container__input--city {
      width: 100%;
      border-radius: 3px;
      border: 1.4px solid #605b56;
    }

    .SearchBar__form__div--container__button {
      color: #eaeaea;
      .localisation-marker {
        color: #605b56;
      }
    }
  }

  .SearchBar__form__div--find-country-container {

    .SearchBar__form__div--find-country-container__input-country{
      border-radius: 3px;
      border: 1.4px solid #605b56;
    }
  }
}
// efect //@at-root
.isClose {
  display: none;
}
.isOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.cross {
  cursor: auto;
  position: absolute;
  margin-top: -65px;
  margin-left: 52%;
  color: #605b56;
}
