.SearchBar__form {
  display: flex;
  flex-direction: column;

  .SearchBar__form__div--container-parametter-degree {
    display: flex;
    justify-content: end;
  }
  .SearchBar__form__div--container-inputCountry-inputCity-localisationButton{
    display: flex;
    justify-content: center;

    .country , .city {
        width : 30%;
    }
  }
  .SearchBar__form__button--search{
    width: 20%;
    margin: auto;
  }
}
