.calendar {
  .calendar-container-month-degreeSeclect {
    display: flex;
    flex-direction: column;
    text-align: center;

    .calendar-title-month {
      text-align: center;
      color: #605b56;
    }
    select {
      color: #acc18a;
      font-size: 10px;
      -webkit-appearance: none;
      appearance: none;
      outline: 0;
      border: 0;
      box-shadow: none;
      padding: 0 1em;
      background-color: var(--darkgray);
      background-image: none;
      cursor: pointer;
      text-align: center;
    }

    .select {
      position: relative;
      display: flex;
      width: 20em;
      height: 3em;
      border-radius: 0.25em;
      overflow: hidden;
    }
  }
}
@media (min-width: 0px) and (max-width: 621px) {
  .name-of-times-list {
    display: none;
  }

  .containerCurrentTimesClicked {
    background: brown;
    padding: 35px;
    width: 70%;
    margin: 20% auto;
    border-radius: 8.5px;
    .ClickedTimesList__ul-times-list {
      width: 90%;
      color: white;
      margin: 5% auto auto auto;
      padding: 0;
      .ClickedTimesList__ul-times-list__li-date{
        font-weight: bold;
        color: #605b56;
        width: 100%;
        list-style: none;
        border-radius: 13px;
        text-align: center;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 13px;
      }
      .ClickedTimesList__ul-times-list__li {
        font-weight: bold;
        color: #605b56;
        width: 100%;
        background-color: #acc18a;
        list-style: none;
        height: 50px;
        border-radius: 13px;
        text-align: center;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 13px;
      }
    }
  }
}
