// Small devices (portrait phones, less than 768px)
@media (max-width: 767.98px) { 
    .NavBarTodayAndMounth__nav {
        display: flex;
        justify-content: center;
        height: 100%;
      
        .NavBarTodayAndMounth__nav__ul {
          list-style: none;
          display: flex;
          justify-content: space-around;
          width: 78%;
          border: 1px solid;
          padding: 3%;
          border-radius: 29px;
          font-size: 12px;
      
          .NavBarTodayAndMounth__nav__ul__Link {
            text-decoration-line: none;
          }
        }
      }
      
 }
