// Small devices (portrait phones, less than 768px)
@media (max-width: 414px) {
  .NavBarTodayAndMounth__nav {
    display: flex;
    justify-content: center;
    height: 100%;

    .NavBarTodayAndMounth__nav__ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 78%;
      padding: 3%;
      font-size: 12px;

      .NavBarTodayAndMounth__nav__ul__li__Link {
        text-decoration-line: none;
      }

      .NavBarTodayAndMounth__nav__ul__li--today {
        border-color: black;
        border-left: 1px;
        border-top: 1px;
        border-right: 0.5px;
        border-bottom: 1px;
        padding: 1%;
        border-radius: 29px 0 0 29px;
      }

      .NavBarTodayAndMounth__nav__ul__li--month {
        border-color: black;
        border-left: 0.5px;
        border-top: 1px;
        border-right: 1px;
        border-bottom: 1px;
        padding: 1%;
        border-radius: 0 29px 29px 0;
      }
    }
  }
}
