// Small devices (portrait phones, less than 768px)
@media (max-width: 470px) {
  .NavBarTodayAndMounth__nav {
    display: flex;
    justify-content: center;

    .NavBarTodayAndMounth__nav__ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0%;
      font-size: 12px;
      border-radius: 29px;
      width: 100%;

      .NavBarTodayAndMounth__nav__ul__li__Link {
        text-decoration-line: none;
      }

      .NavBarTodayAndMounth__nav__ul__li--today {
        border: 1px solid white;
        border-radius: 29px 0 0 29px;
        width: 34%;
        padding: 2%;
      }

      .NavBarTodayAndMounth__nav__ul__li--month {
        border: 1px solid white;
        border-radius: 0 29px 29px 0;
        width: 34%;
        padding: 2%;
      }
    }
  }
}
