@media (max-width: 470px) {
  .SearchBar__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50px;
    width: 60%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--find-city-container__input--city {
    width: 100%;
    border-radius: 3px;
    border: 1.4px solid #605b56;
    height: 25px;
    color: #605b56;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--container__button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--container__button .localisation-marker {
    color: #605b56;
    font-size: 17px;
  }
  .SearchBar__form .SearchBar__form__div--find-country-container .SearchBar__form__div--find-country-container__input-country,
  .SearchBar__form .SearchBar__form__div--find-country-container .SearchBar__form__div--find-country-container__submit {
    border-radius: 3px;
    border: 1.4px solid #605b56;
    margin-top: 7px;
    height: 25px;
    color: #605b56;
  }
  .isClose {
    display: none;
  }
  .isOpen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    margin-top: -96px;
    margin-left: 62%;
    color: #605b56;
    font-size: 22px;
  }
}

@media (min-width: 471px) {
  .SearchBar__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50px;
    width: 60%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 81px;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--find-city-container__input--city {
    width: 100%;
    border-radius: 3px;
    border: 1.4px solid #605b56;
    height: 36px;
    color: #605b56;
    font-size: 17px;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--container__button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--container__button .localisation-marker {
    color: #605b56;
    font-size: 33px;
  }
  .SearchBar__form .SearchBar__form__div--find-country-container .SearchBar__form__div--find-country-container__input-country {
    border-radius: 3px;
    border: 1.4px solid #605b56;
    margin-top: 7px;
    height: 36px;
    color: #605b56;
    font-size: 17px;
    width: 98.5%;
  }
  .SearchBar__form .SearchBar__form__div--find-country-container .SearchBar__form__div--find-country-container__submit {
    border-radius: 3px;
    border: 1.4px solid #605b56;
    margin-top: 7px;
    height: 36px;
    color: #605b56;
    font-size: 17px;
    width: 100%;
  }
  .isClose {
    display: none;
  }
  .isOpen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    margin-top: -126px;
    margin-left: 62%;
    color: #605b56;
    font-size: 34px;
  }
}

@media (min-width: 850px) {
  .SearchBar__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50px;
    width: 60%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 81px;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--find-city-container__input--city {
    width: 51%;
    border-radius: 3px;
    border: 1.4px solid #605b56;
    height: 36px;
    color: #605b56;
    font-size: 17px;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--container__button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .SearchBar__form .SearchBar__form__div--find-city-container .SearchBar__form__div--container__button .localisation-marker {
    color: #605b56;
    font-size: 33px;
  }
  .SearchBar__form .SearchBar__form__div--find-country-container .SearchBar__form__div--find-country-container__input-country {
    border-radius: 3px;
    border: 1.4px solid #605b56;
    margin-top: 7px;
    height: 36px;
    color: #605b56;
    font-size: 17px;
    width: 51%;
    margin-left: 24%;
  }
  .SearchBar__form .SearchBar__form__div--find-country-container .SearchBar__form__div--find-country-container__submit {
    border-radius: 3px;
    border: 1.4px solid #605b56;
    margin-top: 7px;
    height: 36px;
    color: #605b56;
    font-size: 17px;
    width: 52%;
    margin-left: 24%;
  }
  .isClose {
    display: none;
  }
  .isOpen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    margin-top: -126px;
    margin-left: 47%;
    color: #605b56;
    font-size: 34px;
  }
}
/*# sourceMappingURL=searchbar.css.map */