@media (max-width: 470px) {
  .button-location {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 1%;
    margin-left: 81%;
    position: absolute;

    .localisation-marker {
      color: #605b56;
      font-size: 25px;
    }
  }
  
  // efect //@at-root
  .isClose {
    display: none;
  }
  .isOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  .cross {
    color: #605b56;
    font-size: 26px;
    background: none;
    cursor: pointer;
    outline: inherit;
    margin-top: 0%;
    margin-left: 82%;
    position: absolute;
  }
  .transition-input {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 113px;
    transition: 0.1s ease-in;

    .SearchBar__form__div--find-city-container {
      display: flex;
      flex-direction: row-reverse;
      .SearchBar__form__div--find-city-container__input--city {
        width: 97%;
        border-radius: 8px;
        border: 1.4px solid #605b56;
        color: #605b56;
        height: 30px;
        font-size: 16px;
      }
    }

    .SearchBar__form__div--find-country-container {
      .SearchBar__form__div--find-country-container__input-country,
      .SearchBar__form__div--find-country-container__submit {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        color: #605b56;
        height: 30px;
        font-size: 16px;
      }
      .SearchBar__form__div--find-country-container__submit {
        background-color: #acc18a;
        color: #eaeaea;
      }
    }
  }
  }
  .SearchBar__form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.1s ease-in;
    margin-bottom: -2px;
    .SearchBar__form__div--find-city-container {
      display: flex;
      flex-direction: row-reverse;
      .SearchBar__form__div--find-city-container__input--city {
        width: 97%;
        border-radius: 8px;
        border: 1.4px solid #605b56;
        color: #605b56;
        height: 30px;
        font-size: 16px;
      }
    }

    .SearchBar__form__div--find-country-container {
      .SearchBar__form__div--find-country-container__input-country,
      .SearchBar__form__div--find-country-container__submit {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        color: #605b56;
        height: 30px;
        font-size: 16px;
      }
      .SearchBar__form__div--find-country-container__submit {
        background-color: #acc18a;
        color: #eaeaea;
      }
    }
  }


// tablet :/
@media (min-width: 471px) {
  .button-location {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 1%;
    margin-left: 74%;
    position: absolute;

    .localisation-marker {
      color: #605b56;
      font-size: 26px;
    }
  }
  .SearchBar__form {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    .SearchBar__form__div--find-city-container {
      display: flex;
      flex-direction: row-reverse;
      .SearchBar__form__div--find-city-container__input--city {
        width: 98.5%;
        border-radius: 8px;
        border: 1.4px solid #605b56;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
    }

    .SearchBar__form__div--find-country-container {
      .SearchBar__form__div--find-country-container__input-country {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
      .SearchBar__form__div--find-country-container__submit {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #eaeaea;
        background-color: #acc18a;
        font-size: 17px;
      }
    }
  }
  .transition-input {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    transition: 0.1s ease-in;

    .SearchBar__form__div--find-city-container {
      display: flex;
      flex-direction: row-reverse;
      .SearchBar__form__div--find-city-container__input--city {
        width: 98.5%;

        border-radius: 8px;
        border: 1.4px solid #605b56;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
    }

    .SearchBar__form__div--find-country-container {
      
      .SearchBar__form__div--find-country-container__input-country {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #605b56;
        font-size: 17px;
        transition: opacity 2s;

      }
      .SearchBar__form__div--find-country-container__submit {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #eaeaea;
        font-size: 17px;
        background-color: #acc18a;
        transition: opacity 0.9 2s;

      }
    }
  }
  .SearchBar__form {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    transition: 0.1s ease-in;

    .SearchBar__form__div--find-city-container {
      display: flex;
      flex-direction: row-reverse;
      .SearchBar__form__div--find-city-container__input--city {
        width: 98.5%;
        border-radius: 8px;
        border: 1.4px solid #605b56;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
    }

    .SearchBar__form__div--find-country-container {
      .SearchBar__form__div--find-country-container__input-country {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
      .SearchBar__form__div--find-country-container__submit {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #eaeaea;
        background-color: #acc18a;
        font-size: 17px;
      }
    }
  }
  // efect //@at-root
  .isClose {
    display: none;
  }
  .isOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .cross {
    color: #605b56;
    font-size: 26px;
    background: none;
    cursor: pointer;
    outline: inherit;
    margin-top: 0.5%;
    margin-left: 75%;
    position: absolute;
  }
}

//pc//
@media (min-width: 830px) {
  .button-location {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 0.5%;
    margin-left: 71%;
    position: absolute;

    .localisation-marker {
      color: #605b56;
      font-size: 28px;
    }
  }
  .transition-input {
    display: flex;
    flex-direction: column;
    width: 41%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 190px;
    transition: 0.1s ease-in;

    .SearchBar__form__div--find-city-container {
      display: flex;
      flex-direction: row-reverse;
      .SearchBar__form__div--find-city-container__input--city {
        width: 98.5%;

        border-radius: 8px;
        border: 1.4px solid #605b56;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
    }

    .SearchBar__form__div--find-country-container {
      
      .SearchBar__form__div--find-country-container__input-country {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #605b56;
        font-size: 17px;
        transition: opacity 2s;

      }
      .SearchBar__form__div--find-country-container__submit {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #eaeaea;
        font-size: 17px;
        background-color: #acc18a;
        transition: opacity 0.9 2s;

      }
    }
  }
  .SearchBar__form {
    display: flex;
    flex-direction: column;
    width: 41%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    transition: 0.1s ease-in;

    .SearchBar__form__div--find-city-container {
      display: flex;
      flex-direction: row-reverse;
      .SearchBar__form__div--find-city-container__input--city {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
    }

    .SearchBar__form__div--find-country-container {
      .SearchBar__form__div--find-country-container__input-country {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #605b56;
        font-size: 17px;
      }
      .SearchBar__form__div--find-country-container__submit {
        border-radius: 8px;
        border: 1.4px solid #605b56;
        margin-top: 7px;
        height: 36px;
        color: #eaeaea;
        font-size: 17px;
        background-color: #acc18a;
      }
    }
  }
  // efect //@at-root
  .isClose {
    display: none;
  }
  .isOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  .cross {
    color: #605b56;
    font-size: 28px;
    background: none;
    cursor: pointer;
    outline: inherit;
    margin-top: 0.3%;
    margin-left: 71.3%;
    position: absolute;
  }
}
