nav{
    display: flex;
justify-content: center;
height: 100%;
}
ul{

    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
    border: 1px solid;
    padding: 3%;
    border-radius: 29px;
}
a{
    text-decoration-line: none;
}